@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Russo One';
  src: local('Russo_One'), url(../public//fonts/Russo_One/RussoOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../public/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open_Sans'),
    url(../public/fonts/Open_Sans/static/OpenSans-Regular.ttf) format('truetype'),
    url(../public/fonts/Open_Sans/static/OpenSans-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(../public/fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind_Guntur';
  src: local('Hind_Guntur'),
    url(../public/fonts/Hind_Guntur/HindGuntur-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  src: local('Josefin_Sans'),
    url(../public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf) format('truetype'),
    url(../public/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Orbitron';
  src: url(../public/fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format('truetype'),
    url(../public/fonts/Orbitron/static/Orbitron-Medium.ttf) format('truetype');
  /* Add other font formats if necessary, like .ttf or .otf */
  /* font-weight: normal;
  font-style: normal; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/* MUI Typography */

.css-1wn6apb-MuiTypography-root {
  line-height: normal;
}

/* MUI TEXTFIELD AUTOCOMPLETE */

.MuiTextField-root > div input {
  padding: 0px 5px 0px 5px !important;
  height: 100% !important;
  background-color: transparent !important;
}

/* Swiper Pagination */

.background-swiper .swiper-pagination-bullet {
  background: transparent !important;
  position: relative !important;
  outline: 0.5px solid #000 !important;
  width: 15px !important;
  height: 15px !important;
}

.background-swiper .swiper-pagination-bullet-active {
  position: relative !important;
  width: 20px !important;
  height: 20px !important;
}

.background-swiper .swiper-pagination-bullet-active::after {
  position: absolute !important;
  content: '' !important;
  width: 15px !important;
  height: 15px !important;
  background: black !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 50% !important;
}

/* review swiper */

.review-swiper .swiper {
  width: 100%;
  height: 100%;
  /* padding: 0px 40px 0px 40px; */
}

@media screen and (max-width: 1023px) {
  .review-swiper .swiper {
    height: 800px;
  }
}

@media screen and (max-width: 767px) {
  .review-swiper .swiper {
    height: 600px;
  }
}

.review-swiper .swiper-wrapper {
  display: flex;
  justify-content: start;
}

.review-swiper .swiper-slide {
  height: 100%;
  padding: 0px 30px;
}

/* Review Swiper Buttons */
.review-swiper .swiper-button-prev,
.review-swiper .swiper-button-next {
  display: none;
}

@media (max-width: 950px) {
  .css-1qq5s3h-MuiPaper-root-MuiAppBar-root {
    padding-left: 1px !important;
  }

  .css-134hlw3-MuiToolbar-root {
    height: 0px !important;
  }
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
